services:

  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - ./shared:/app/shared
      - ./alembic:/app/alembic
      - ./alembic.ini:/app/alembic.ini

  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    restart: always
    depends_on:
      - app
    env_file:
      - .env
    volumes:
      - ./bot:/app
      - ./shared:/app/shared
  
  scraper:
    build:
      context: .
      dockerfile: scraper/Dockerfile
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./scraper:/app
      - ./shared:/app/shared

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Shodmon123
      POSTGRES_DB: exchange
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6380:6379"

volumes:
  pgdata:
